# Question 1 Level 1

### Write a program that will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 

### The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

#### Answer to Solution 1:

In [6]:
single_line = []
for step in range(2000,3201):
    if (step%7==0) and (step%5!=0):
        single_line.append(str(step))

% = remainder -> is used to find out if exactly divisible by n,
== equal to, != not equal to,

==0 means that there is no remainder, !=0 means there is

In [52]:
print(','.join(single_line))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

----------------------------------------------------------------------------------------------------------------------

# Question 2 Level 1

### Write a program that can compute the factorial of a given number. The results should be printed in a comma-separated sequence on a single line. 
### Suppose the following input is supplied to the program:  8 then the output should be:  40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

#### Answer to Solution 2:

Call function within itself to obtain factorial:

In [8]:
def factorial(number):
    if number == 0:
        return 1
    return number * factorial(number - 1)

Initial input: 8 x factorial(8-1) -> 7 x factorial(7-1) -> 6 x ...

8 x 7 x 6 x 5 x 4 x 3 x 2 x 1

In [9]:
number=8
print(factorial(number))

40320

# Question 3 Level 1

### With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). The program should print the dictionary.

### Suppose the following input is supplied to the program:  8 then the output should be:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

#### Answer to solution 3:

Input integral number and create blank dictionary:

In [57]:
n=int(8)

In [58]:
dictionary=dict()

In a loop, multiply 'step' by itself and add to dictionary:

In [61]:
for step in range(1,n+1):
    dictionary[step]=step*step

In [62]:
print(dictionary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Example of selecting one 'word' in dictionary:

In [19]:
print(dictionary[1])

1

# Bonus section

### Difference between a list, set, tuple and dictionary

#### List

A list in Python is a diverse container for items.

In [32]:
list1=["Hello",[2,3],(4,5),False,'there!']

In [33]:
print(list1)

['Hello', [2, 3], (4, 5), False, 'there!']

In [36]:
print(list1[0],list1[4])

Hello there!

#### Dictionary

A Python dictionary holds key-value pairs.

To declare a Python dictionary, we use curly braces.

In [37]:
mydict={1:2,2:4,3:6}
print(mydict[2])

4

In [39]:
mydict={"one":2,"two":4,"three":6}
print(mydict["two"])

4

In [40]:
mydict={1:"two",2:"four",3:"six"}
print(mydict[2])

four

#### Set

A set, in Python, is just like the mathematical set. It does not hold duplicate values and is unordered.

In [67]:
myset={1,3,2}
myset

{1, 2, 3}

In [68]:
myset = {'a','d','w','c'}
myset

{'a', 'c', 'd', 'w'}

In [42]:
myset={3,3,3,3,3,3,3,1,2}
myset

{1, 2, 3}

As you can see, it rearranged the elements in an ascending order.

Since a set is unordered, there is no way we can use indexing to access or delete its elements. Then, to perform operations on it, Python provides us with a list of functions and methods like discard(), pop(), clear(), remove(), add(), and more. Functions like len() and max() also apply on sets.

Think of as in MATLAB: sort(unique([3,3,3,3,3,3,1,2]))

#### Tuple 

This Python Data Structure is similar to a list in Python, is a diverse container for items. But the major difference between the two (tuple and list) is that a list is changeable, but a tuple is not. This means that while you can reassign or delete an entire tuple, you cannot do the same to a single item or a slice.

In [44]:
mytuple = (1,2,"$")
mytuple

(1, 2, '$')

In [45]:
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [46]:
del mytuple

In [47]:
mytuple

NameError: name 'mytuple' is not defined